.icon{
    position: relative;
    width: 60px;
    height: 45px;
    overflow: hidden;
    cursor: pointer;    
}

.icon span{
    position: absolute;
    width: 100%;
    height: 9px;
    background:rgb(49, 41, 28) ;
    border-radius: 9px;
    transition: 0.25s ease-in-out all ;
}

.icon span:nth-child(1){top:0}
.icon span:nth-child(2){top:18px}
.icon span:nth-child(3){top:36px}

.icon.open span:nth-child(1){
    transform:rotate(45deg);
    top:18px;
}
.icon.open span:nth-child(2){
    transform:rotate(45deg);
    opacity: 0;
}
.icon.open span:nth-child(3){
    transform:rotate(-45deg);
    top:18px;
}

